.module-carousel{
	padding: 20px 0;
	background: rgba(234,236,248,1);
	background: -moz-linear-gradient(top, rgba(234,236,248,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(234,236,248,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(234,236,248,1) 0%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(234,236,248,1) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(234,236,248,1) 0%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(234,236,248,1) 0%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaecf8', endColorstr='#ffffff', GradientType=0 );
	#module-carousel{
		position: relative;
		.owl-nav{
			position: absolute;
			top: 10%;
			left: 0;
			width: 100%;
			z-index: 5;
			margin: 0;
			& [class*=owl-]{
				color: #555;
				position: absolute;
				top: 0;
				font-size: 26px;
				border-radius: 50%;
				background-color: transparent;
				padding: 0;
			}
			.owl-next{
				right: 0;
			}
			.owl-prev{
				left: 0;
			}
		}
	}
}