.featured-category {
	background: #fff;
}
.featured-category {
	.category_box{
		border: 5px solid;
		border-radius: 4px;
		position: relative;
		.name-box{
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			background-color: $light-color2;
			width: 50%;
			display: flex;
			align-items: center;
			.name{
				color: #fff;
				width: 100%;
				text-align: center;
			}
			@include transition(all 0.3s);
		}
		.image{
			width: 50%;
			float: right;
		}
		&:hover{
			border-color: #000 !important;
			.name-box{
				background-color: #000 !important;
			}
		}
	}

	$colors:  #199347, #fda428, #3a5b95, #1db6ed;

	@for $i from 1 through length($colors) {
		.fc-col:nth-of-type(#{length($colors)}n+#{$i}) {
			.category_box{
				border-color: nth($colors, $i);
				.name-box{
					background-color: nth($colors, $i) ;
				}
			}
		}
	}
}
/*================media=================*/
@media (min-width: 992px){
}