
.recently-product{
	padding: 30px 0;
	.owl-carousel{
		position: relative;
		.owl-nav{
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			z-index: 5;
			margin: 0;
			& [class*=owl-]{
				color: #555;
				position: absolute;
				top: 0;
				font-size: 30px;
				border-radius: 50%;
				background-color: transparent;
				padding: 0;
			}
			.owl-next{
				right: -30px;
			}
			.owl-prev{
				left: -30px;
			}
		}
		.item-grid{
			-webkit-box-flex: 0;
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;
			max-width: 100%;
		}

	}
}