.col-best-sale{
	border: 1px solid $light-color2;
	margin-bottom: 15px;
	.title{
		font-weight: bold;
		padding: 10px;
		font-size: 16px;
		margin-bottom: 15px;
		background-color: $light-color2;
		text-transform: uppercase;
		color: #fff;
	}
	.product{
		padding: 15px;
		border-bottom: 1px solid #eee;
		margin-bottom: 15px;
		&:last-child{
			border-bottom: none;
		}
		.name{
			text-align: center;
			font-weight: bold;
		}
	}
	.article{
		padding: 15px;
		border-bottom: 1px solid #eee;
		margin-bottom: 15px;
		&:last-child{
			border-bottom: none;
		}
		.name{
			font-weight: bold;
		}
	}
}
/*================= media ===================*/
@media(min-width: 992px){
	
}