.tlp-banner1{
	padding: 40px 0;
	counter-reset: number;
	.reason{
		position: relative;
		padding-left: 40px;
		margin-bottom: 30px;
		&:before{
			position: absolute;
			left: 0;
			counter-increment: number;
			content: counter(number);
			font-size: 35px;
			color: $dark-grey;
		}
	}
}