.customer-comments{
	padding: 40px 0;
	background-size: cover !important;
	background-attachment: fixed !important;
	background-position: top left !important;
	.customer-comments-carousel{
		position: relative;
		.owl-item{
			//opacity: 0.5;
		}
		.owl-item.active.center{
			//opacity: 1;
		}

		.owl-nav{
			position: absolute;
			top: 40%;
			left: 0;
			width: 100%;
			z-index: 5;
			& [class*=owl-]{
				color: $color;
				position: absolute;
				top: 0;
				font-size: 20px;
				border-radius: 50%;
				background-color: #ffffff;
				padding: 5px 16px;
				box-shadow: 0 0 5px #999;
			}
			.owl-next{
				right: 0;
			}
			.owl-prev{
				left: 0;
			}
		}
	}
	.item-customer-comments-carousel{
		padding: 15px;
		background-color: rgba(255,255,255,0.9);
		.slide-content{
			.home-testim{
				background-color: #444;
				color: #fff;
				padding: 15px;
				.home-testim-name{
					font-weight: bold;
				}
				.home-testim-text{
					text-align: justify;
				}
			}
		}
	}
}

/*============== media ==============*/
@media (min-width: 768px){
	.customer-comments{
		.customer-comments-carousel{
			.owl-nav{
				position: absolute;
				top: 40%;
				left: 10%;
				width: 80%;
				.owl-next{
					//right: -30px;
				}
				.owl-prev{
					//left: -30px;
				}
			}
		}
		.item-customer-comments-carousel{
			width: 70%;
			margin: auto;
		}
	}
}