
.blog-latest{
	padding: 40px 0;
	background-color: #f0f0ee;
	margin-bottom: 15px;
		.item-blog{
			.img-item-blog{
				img{
				}
			}
			.content-item-blog{
				padding: 10px 0;
				.name{
					color: #333;
					font-weight: 400;
					font-size: 20px;
					&:hover{
						color: $light-color1;
					}
				}
			}
		}
}