.wt_fourcol{
	padding: 40px 0;
	border-bottom: 1px solid #eee;
	.col-wapper{
		position: relative;
		padding: 15px;
		height: 100%;
		background-color: #fff;
		.image{
			margin: 0 auto;
		}
		h3{
			font-size: 20px;
			font-weight: normal;
		}
	}
	.wt_fourcol_a{
		display: none;
	}
}
/*================= media ===================*/
@media(min-width: 992px){
	.wt_fourcol .col-wapper {
		.image{
			width: 35%;
		}
		h3{
			font-size: 25px;
		}
	}
}