.banner-walls-image-div{
	position: relative;
	margin: 15px 0;
	.wrap-info{
		display: none;
		position: absolute;
		left: 10px;
		right: 10px;
		bottom: 10px;
		padding: 10px 20px;
		text-align: center;
		background-color: #fff;
	}
}