.col-contact-info{
	border: 1px solid #eee;
	margin-bottom: 15px;
	.title{
		font-weight: bold;
		padding: 10px;
		font-size: 16px;
		margin-bottom: 15px;
		background-color: $light-color2;
		text-transform: uppercase;
		color: #fff;
	}
	.info{
		img{
			background: url(http://sannangkythuatvietnam.com/image/catalog/mua-vach-ngan-100x100.png) no-repeat;
			background-size: 100%;
			width: 100%;
		}
	}
}
/*================= media ===================*/
@media(min-width: 992px){
	
}