.latest-product:nth-of-type(odd) {
	.module-title2{
		border-color: #af1414;
		.title{
			background-color: $dark-color2;
		}
	}
}
.latest-product{
	padding: 10px 0;
	.owl-carousel{
		position: relative;
		.owl-nav{
			position: absolute;
			top: 45%;
			left: 0;
			width: 100%;
			z-index: 5;
			margin: 0;
			& [class*=owl-]{
				color: #555;
				position: absolute;
				top: 0;
				font-size: 30px;
				border-radius: 50%;
				background-color: transparent;
				padding: 0;
			}
			.owl-next{
				right: -15px;
			}
			.owl-prev{
				left: -15px;
			}
		}
		.item-grid{
			-webkit-box-flex: 0;
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;
			max-width: 100%;
		}

	}
}
@media (min-width: 992px){
	
}