.col-contact-form{
	padding: 15px;
	background-color: $green1;
	color: #fff;
	margin-bottom: 15px;
	.title{
		font-weight: bold;
		padding-bottom: 10px;
		color: #000;
		border-bottom: 1px solid #fff;
		font-size: 18px;
		margin-bottom: 15px;
		text-transform: uppercase;
		i{
			color: #fff;
		}
	}
	p{
		margin-bottom: 10px;
	}
	.title-form{
		text-align: center;
		font-weight: bold;
		padding-bottom: 10px;
		border-bottom: 1px solid #000;
		color: #000;
		font-size: 16px;
		margin-bottom: 10px;
		text-transform: uppercase;
	}
}
/*================= media ===================*/
@media(min-width: 992px){
	
}