
.blog-latest-v2{
	padding: 40px 0;
	.item-blog{
		.img-item-blog{
			img{
			}
		}
		.content-item-blog{
			padding: 10px 0;
			background: #fff;
			.name{
				color: #333;
				font-size: 16px;
				min-height: 100px;
				&:hover{
					color: $light-color1;
				}
			}
			.item-intro {
				min-height: 60px;
			}
		}
	}
}


@media(min-width: 992px){
	.blog-latest-v2 .item-blog .content-item-blog .name{
		min-height: 50px;
	}
}