.home-contact{
	padding: 30px 0;
	background-attachment: fixed;
	background-size: cover;
	color: #fff;
}
/*================= media ===================*/
@media(min-width: 992px){
	.home-contact{
		padding: 60px 0;
	}
}