.slider{
	position: relative;
	.slider-info{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 5;
		padding: 15px;
	}
	.owl-carousel{
		position: static;
	}
	.owl-dots{
		position: absolute;
		bottom: 0;
		width: 100%;
	}

	.owl-nav{
		position: absolute;
		top: 45%;
		left: 0;
		width: 100%;
		z-index: 5;
		margin: 0;
		& [class*=owl-]{
			color: #555;
			position: absolute;
			top: 0;
			font-size: 60px;
			border-radius: 50%;
			background-color: transparent;
			padding: 0;
		}
		.owl-next{
			right: 0;
		}
		.owl-prev{
			left: 0;
		}
	}
	.owl-theme .owl-nav [class*=owl-]:hover{
		background-color: transparent;
		color: $green1;
	}

}

@media (min-width: 992px){
	.slider{
		.slider-info{
			padding: 50px 15px;
		}
		h2{
			font-size: 35px;
		}
		.des{
			font-size: 16px;
		}
	}
}