$color: #222;

$title-color: #333;

$light-color1: #fc2045;

$light-color2: #0437a4;

$dark-color1: #1C1C1C;

$dark-color2:#c83f3f;

$dark-grey: #666;

$grey: #999;

$light-grey: #aaa;

$border-color: #e5e5e5;

$red1: #AF0202;

$green1: #3ac97a;

$blue1: #288ad6;

$orange1: #f88609;