@font-face {
  font-family: 'SFUFuturaBook';
  src: url("../fonts/SFUFuturaBook/SFUFuturaBook.eot") format("embedded-opentype"), url("../fonts/SFUFuturaBook/SFUFuturaBook.woff") format("woff"), url("../fonts/SFUFuturaBook/SFUFuturaBook.ttf") format("truetype"), url("../fonts/SFUFuturaBook/SFUFuturaBook.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SFUFuturaBold';
  src: url("../fonts/SFUFuturaBook/SFUFuturaBold.eot") format("embedded-opentype"), url("../fonts/SFUFuturaBook/SFUFuturaBold.woff") format("woff"), url("../fonts/SFUFuturaBook/SFUFuturaBold.ttf") format("truetype"), url("../fonts/SFUFuturaBook/SFUFuturaBold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }