<?php echo $header; ?>
<?php echo $content_top; ?>
<?php echo $content_bottom; ?>
<!--<?php if ($thumb || $description) { ?>
<div class="category-info">
 <?php if ($tlptech_category_thumb == 'enabled' && ($thumb)) { ?>
 <div class="image"><img src="<?php echo $thumb; ?>" alt="<?php echo $heading_title; ?>" /></div>
 <?php } ?>
</div>
<?php } ?> -->


<div class="container">
  <nav aria-label="breadcrumb">
   <ol class="breadcrumb">
    <?php foreach ($breadcrumbs as $breadcrumb) { ?>
    <li class="breadcrumb-item"><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
    <?php } ?>
  </ol>
</nav>
</div>

<div class="container "> 
  <div class="row"><?php echo $column_left; ?>
    <?php if ($column_left && $column_right) { ?>
    <?php $class = 'col-sm-6'; ?>
    <?php } elseif ($column_left || $column_right) { ?>
    <?php $class = 'col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12'; ?>
    <?php } else { ?>
    <?php $class = 'col-sm-12'; ?>
    <?php } ?>

    <div id="content" class="<?php echo $class; ?> <?php echo $tlptech_grid_category; ?>">

      <div class="heading-title"><h1><?php echo $heading_title; ?></h1></div>
      <?php if ($description) { ?>
      <p><?php echo $description; ?></p>
      <?php } ?>

      <?php if ($products) { ?>
      <div class="product-filter">
        <div class="display"> 
          <a id="grid_view_icon"><i class="fa fa-th"></i></a><a id="list_view_icon"><i class="fa fa-list"></i></a>
        </div>
        <div class="limit form-group form-inline">
          <label><?php echo $text_limit; ?></label>
          <select id="input-limit" class="form-control form-control-sm" onchange="location = this.value;">
            <?php foreach ($limits as $limits) { ?>
            <?php if ($limits['value'] == $limit) { ?>
            <option value="<?php echo $limits['href']; ?>" selected="selected"><?php echo $limits['text']; ?></option>
            <?php } else { ?>
            <option value="<?php echo $limits['href']; ?>"><?php echo $limits['text']; ?></option>
            <?php } ?>
            <?php } ?>
          </select>
        </div>
        <div class="sort form-group form-inline">
          <label><?php echo $text_sort; ?></label>
          <select id="input-sort" class="form-control form-control-sm" onchange="location = this.value;">
            <?php foreach ($sorts as $sorts) { ?>
            <?php if ($sorts['value'] == $sort . '-' . $order) { ?>
            <option value="<?php echo $sorts['href']; ?>" selected="selected"><?php echo $sorts['text']; ?></option>
            <?php } else { ?>
            <option value="<?php echo $sorts['href']; ?>"><?php echo $sorts['text']; ?></option>
            <?php } ?>
            <?php } ?>
          </select>

        </div>
        <div class="compare-link "><a href="<?php echo $compare; ?>" id="compare-total"><?php echo $text_compare; ?></a></div>
      </div>
      <div id="main" class=" product-<?php echo $tlptech_default_view; ?> ">
        <div class="row grid3" id="product" >
          <?php foreach ($products as $product) { ?>
          <div class="col-lg-3 col-md-4 col-sm-6 col-6 item-grid">
            <div class="product-thumb">
              <div class="thumb-image">
                <?php if ($product['special'] && $tlptech_percentage_sale_badge == 'enabled') { ?>
                <div class="sale">
                  <span class="sale-text">sale</span>
                  <span class="sale-percent"><?php echo $product['sales_percantage']; ?>%</span>
                </div>
                <?php } ?>
                <?php if ($product['new']!='') { ?>
                <div class="tag-new"><?php echo $product['new']; ?></div>
                <?php } ?>
                <?php if ($product['hot']!='') { ?>
                <div class="tag-hot"><?php echo $product['hot']; ?></div>
                <?php } ?>
                <div class="image">
                  <?php if ($product['thumb_hover'] && $tlptech_rollover_effect == 'enabled') { ?>
                  <div class="image-hover">
                    <a href="<?php echo $product['href']; ?>">
                      <img src="<?php echo $product['thumb_hover']; ?>" alt="<?php echo $product['name']; ?>" />
                    </a>
                  </div>
                  <a href="<?php echo $product['href']; ?>">
                    <img src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>" />
                  </a>
                  <?php } elseif ($product['thumb']) { ?>
                  <a href="<?php echo $product['href']; ?>">
                    <img src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>" />
                  </a>
                  <?php } ?>
                </div>

                <div class="actions-link">                
                  <button class="btn-wishlist button" type="button" data-toggle="tooltip" title="<?php echo $button_wishlist; ?>" onclick="wishlist.add('<?php echo $product['product_id']; ?>');"><i class="icon icon-Heart"></i></button>

                  <button class="btn-compare button" type="button" data-toggle="tooltip" title="" onclick="compare.add('<?php echo $product['product_id']; ?>');" data-original-title="<?php echo $button_compare; ?>">
                    <i class="icon icon-MusicMixer"></i>
                  </button>

                  <button class="btn-quickview button" type="button" data-toggle="tooltip" title="" onclick="ocquickview.ajaxView('')" data-original-title="Quick View">
                    <i class="icon icon-Eye"></i>
                  </button> 

                </div>
              </div>

              <div class="caption text-center">
                <div class="rating">
                  <?php for ($i = 1; $i <= 5; $i++) { ?>
                  <?php if ($product['rating'] < $i) { ?>
                  <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                  <?php } else { ?>
                  <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
                  <?php } ?>
                  <?php } ?>
                </div>
                <h5 class="name"><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a></h5>

                <?php if ($product['price']) { ?>
                <p class="price">
                  <?php if (!$product['special']) { ?>
                  <?php echo $product['price']; ?>
                  <?php } else { ?>
                  <span class="price-new"><?php echo $product['special']; ?></span> <span class="price-old"><?php echo $product['price']; ?></span>
                  <?php } ?>
                  <?php if ($product['tax']) { ?>
                  <span class="price-tax"><?php echo $text_tax; ?> <?php echo $product['tax']; ?></span>
                  <?php } ?>
                </p>
                <?php } ?>
                <div class="thumb-bottom text-center">
                  <button class="btn-cart btn btn-primary " type="button" data-toggle="tooltip" title="" onclick="cart.add('<?php echo $product['product_id']; ?>');" data-original-title="<?php echo $button_cart; ?>">
                    Add to card
                  </button>
                </div>
              </div>
            </div>
          </div>
          <?php } ?>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6"><?php echo $results; ?></div>
        <div class="col-sm-6"><?php echo $pagination; ?></div>
      </div>
    </div>

    <?php } ?>
    <?php if (!$categories && !$products) { ?>
    <div class="content"><?php echo $text_empty; ?></div>
    <div class="buttons">
      <div class="pull-right"><a href="<?php echo $continue; ?>" class="button"><?php echo $button_continue; ?></a></div>
    </div>
    <?php } ?>
  </div></div>
  <?php echo $column_right; ?></div>


  <script type="text/javascript">
    $(function() {
     var pv = $.cookie('product_view');
     if (pv == 'g') {
      $('#main').removeClass();
      $('#main').addClass('product-grid');
      $('#list_view_icon').removeClass();
      $('#grid_view_icon').addClass('active');
    } else if (pv == 'l') {
      $('#main').removeClass();
      $('#main').addClass('product-list');
      $('#grid_view_icon').removeClass();
      $('#list_view_icon').addClass('active');
    } else {
      $('#<?php echo $tlptech_default_view?>_view_icon').addClass('active');
    }
  });
    $(document).ready(function() {
     $('#grid_view_icon').click(function() {
      $(this).addClass('active');
      $('#list_view_icon').removeClass();
      $('#main').fadeOut(300, function() {
       $(this).removeClass();
       $(this).addClass('product-grid').fadeIn(300);
       $.cookie('product_view', 'g');
     });
      return false;
    });
     $('#list_view_icon').click(function() {
      $(this).addClass('active');
      $('#grid_view_icon').removeClass();
      $('#main').fadeOut(300, function() {
       $(this).removeClass();
       $(this).addClass('product-list').fadeIn(300);
       $.cookie('product_view', 'l');
     });
      return false;
    });
   });
 </script>

</div>
<?php echo $footer; ?>