<?php echo $header; ?>
<div class="bg-light breadcrumb-w">
  <div class="container">
    <nav aria-label="breadcrumb">
     <ol class="breadcrumb">
      <?php foreach ($breadcrumbs as $breadcrumb) { ?>
      <li class="breadcrumb-item"><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
      <?php } ?>
    </ol>
  </nav>
</div>
</div>
<div class="container product-comparison">
  <?php if ($success) { ?>
  <div class="alert alert-success"><i class="fa fa-check-circle"></i> <?php echo $success; ?>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  <?php } ?>
  <div class="row"><?php echo $column_left; ?>
    <?php if ($column_left && $column_right) { ?>
    <?php $class = 'col-sm-6'; ?>
    <?php } elseif ($column_left || $column_right) { ?>
    <?php $class = 'col-lg-9 col-md-9 col-sm-8'; ?>
    <?php } else { ?>
    <?php $class = 'col-sm-12'; ?>
    <?php } ?>
    <div id="content" class="<?php echo $class; ?>"><?php echo $content_top; ?>
      <div class="home-titlel"><h1><?php echo $heading_title; ?></h1></div>
      <?php if ($products) { ?>
      <div class="table-responsive">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td class="contrast_font"><?php echo $text_name; ?></td>
              <?php foreach ($products as $product) { ?>
              <td class="contrast_font name"><?php if ($products[$product['product_id']]['thumb']) { ?>
                <img src="<?php echo $products[$product['product_id']]['thumb']; ?>" alt="<?php echo $products[$product['product_id']]['name']; ?>" title="<?php echo $products[$product['product_id']]['name']; ?>" />
                <?php } ?><a href="<?php echo $products[$product['product_id']]['href']; ?>"><?php echo $products[$product['product_id']]['name']; ?></a></td>
                <?php } ?>
              </tr>

              <?php if ($review_status) { ?>
              <tr>
                <td class="contrast_font"><?php echo $text_rating; ?></td>
                <?php foreach ($products as $product) { ?>
                <td class="rating">
                 <span class="rating r<?php echo $products[$product['product_id']]['rating']; ?>">
                   <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                 </span>
                 <br />
                 <span class="rating_count"><?php echo $products[$product['product_id']]['reviews']; ?></span></td>
                 <?php } ?>
               </tr>
               <?php } ?>

               <tr>
                <td class="contrast_font"><?php echo $text_price; ?></td>
                <?php foreach ($products as $product) { ?>
                <td class="price"><?php if ($products[$product['product_id']]['price']) { ?>
                  <?php if (!$products[$product['product_id']]['special']) { ?>
                  <span class="price"><?php echo $products[$product['product_id']]['price']; ?></span>
                  <?php } else { ?>
                  <span class="price-old"><?php echo $products[$product['product_id']]['price']; ?> </span> <span class="price-new"> <?php echo $products[$product['product_id']]['special']; ?> </span>
                  <?php } ?>
                  <?php } ?></td>
                  <?php } ?>
                </tr>
                <tr>
                  <td class="contrast_font"><?php echo $text_model; ?></td>
                  <?php foreach ($products as $product) { ?>
                  <td><?php echo $products[$product['product_id']]['model']; ?></td>
                  <?php } ?>
                </tr>
                <tr>
                  <td class="contrast_font"><?php echo $text_manufacturer; ?></td>
                  <?php foreach ($products as $product) { ?>
                  <td><?php echo $products[$product['product_id']]['manufacturer']; ?></td>
                  <?php } ?>
                </tr>
                <tr>
                  <td class="contrast_font"><?php echo $text_availability; ?></td>
                  <?php foreach ($products as $product) { ?>
                  <td><?php echo $products[$product['product_id']]['availability']; ?></td>
                  <?php } ?>
                </tr>

                <tr>
                  <td class="contrast_font"><?php echo $text_summary; ?></td>
                  <?php foreach ($products as $product) { ?>
                  <td class="description"><?php echo $products[$product['product_id']]['description']; ?></td>
                  <?php } ?>
                </tr>
                <tr>
                  <td class="contrast_font"><?php echo $text_weight; ?></td>
                  <?php foreach ($products as $product) { ?>
                  <td><?php echo $products[$product['product_id']]['weight']; ?></td>
                  <?php } ?>
                </tr>
                <tr>
                  <td class="contrast_font"><?php echo $text_dimension; ?></td>
                  <?php foreach ($products as $product) { ?>
                  <td><?php echo $products[$product['product_id']]['length']; ?> x <?php echo $products[$product['product_id']]['width']; ?> x <?php echo $products[$product['product_id']]['height']; ?></td>
                  <?php } ?>
                </tr>
              </tbody>
              <?php foreach ($attribute_groups as $attribute_group) { ?>
              <thead class="contrast_font">
                <tr>
                  <td colspan="<?php echo count($products) + 1; ?>"><strong><?php echo $attribute_group['name']; ?></strong></td>
                </tr>
              </thead>
              <?php foreach ($attribute_group['attribute'] as $key => $attribute) { ?>
              <tbody>
                <tr>
                  <td class="contrast_font"><?php echo $attribute['name']; ?></td>
                  <?php foreach ($products as $product) { ?>
                  <?php if (isset($products[$product['product_id']]['attribute'][$key])) { ?>
                  <td><?php echo $products[$product['product_id']]['attribute'][$key]; ?></td>
                  <?php } else { ?>
                  <td></td>
                  <?php } ?>
                  <?php } ?>
                </tr>
              </tbody>
              <?php } ?>
              <?php } ?>
              <tr>
                <td></td>
                <?php foreach ($products as $product) { ?>
                <td class="action">
                  <button onclick="cart.add('<?php echo $product['product_id']; ?>', '<?php echo $product['minimum']; ?>');" class="btn btn-primary btn-sm mb-1" /><i class="fa fa-shopping-cart"></i> <?php echo $button_cart; ?> </button>
                  
                  <a href="<?php echo $product['remove']; ?>" class="btn btn-secondary btn-sm mb-1"><i class="fa fa-times"></i> <?php echo $button_remove; ?></a>
                </td>
                <?php } ?>
              </tr>
            </table>
          </div>
          <?php } else { ?>
          <p><?php echo $text_empty; ?></p>
          <div class="buttons">
            <div class="pull-right"><a href="<?php echo $continue; ?>" class="btn btn-default"><?php echo $button_continue; ?></a></div>
          </div>
          <?php } ?>
          <?php echo $content_bottom; ?>
        </div>
        <?php echo $column_right; ?>
      </div>
    </div>
    <?php echo $footer; ?>