.btn{
	@include radius(0);
	@include transition(all linear 0.3s);
}

.btn-primary{
	border: 1px solid $light-color2;
	color: #fff;
	background-color: $light-color2;
	text-transform: uppercase;
}

.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle{
	border: 1px solid darken($light-color2,5%);
	color: #fff;
	background-color: darken($light-color2,5%);
}

.btn-outline-primary{
	color: #fff;
	background-color: $light-color1;
	border-color: $light-color2;
}
.btn-outline-primary:hover,
.btn-outline-primary:not(:disabled):not(.disabled).active, 
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show>.btn-outline-primary.dropdown-toggle{
	
	border: 1px solid $light-grey;
	color: $color;
	background-color: #fff;
}

.btn-secondary{
	border: 1px solid $border-color;
	color: $dark-grey;
	background-color: $border-color;
	text-transform: uppercase;
}

.btn-secondary:hover,
.btn-secondary:not(:disabled):not(.disabled).active, 
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle{
	border-color: $dark-grey;
	color: #fff;
	background-color: $dark-grey;
}

.btn-default{
	border: 1px solid #ccc;
}

#product .btn-secondary{
	border: 1px solid #de4a32;
    color: #fff;
    background-color: #de4a32;
}

#product .btn-secondary:hover {
	border-color: #e60404;
	color: #fff;
	background-color: #e60404;
}