.pagination{
	-ms-flex-pack: end!important;
	justify-content: flex-end!important;
	li{
		position: relative;
		display: block;
		padding: .5rem .75rem;
		margin-left: -1px;
		line-height: 1.25;
		background-color: #fff;
		border: 1px solid $border-color;
		&.active{
			background-color: $border-color;
		}
		&:first-child{
			margin-left: 0;
			border-top-left-radius: .25rem;
			border-bottom-left-radius: .25rem;
		}
		&:last-child{
			border-top-right-radius: .25rem;
			border-bottom-right-radius: .25rem;
		}
	}
}