.blog_list{
}
.blog-item{
}
.blog_summary{
	.blog_title{
		color: #000;
		&:hover{
			color: $light-color1;
		}
	}
}

.blog-h1{
	font-size: 25px;
}

/*================= media ======================*/
@media (min-width: 768px){
	.blog_list{
		.blog-item{
			
		}
	}
	.blog_list.re-order{
		.blog-item{
			.blog_summary{
				padding-bottom: 50px;
				padding-left: 50px;
				.blog_description{
					font-size: 17px;
					line-height: 35px;
				}
			}
			&:nth-child(even){
				.image{
					order: 2;
				}
				.blog_summary{
					order: 1;
					padding-left: 15px;
					padding-right: 50px;
				}
			}
		}
	}

}