#Scrollspy{
	&.fix{
		position: fixed;
		width: 25%;
		padding: 55px 30px 10px 0;
		top: 0;
		left: 15px;
		z-index: 5;
	}
	width: 100%;
	height: 100vh;
	ul{
		background-color: $border-color;
		border-radius: 5px;
		padding: 15px;
		height: 100%;
		overflow: auto;
		display: block;
		&::-webkit-scrollbar { 
			//display: none; 
		}
		li{
			display: block;
			a.active, a:hover{
				background-color: $light-color1;
				color: #fff;
			}
		}
	}
}

.section-product{
	min-height: 500px;
	padding-top: 60px;
}
