
.product-info {
		.image {
			position: relative;
			border: 1px solid $border-color;
			margin-bottom: 15px;
			#zoom-btn {
				position: absolute;
				display: block;
				padding: 5px;
				right: 0;
				bottom: 0;
				z-index: 999;
				font-size: 20px;
			}
		}
}

.image-additional {
	.image_carousel {
		li {
			border: 1px solid $border-color;
			padding: 5px;
		}

	}

}

.review {
	.rating {
		display: inline-block;

		&+a.to_review:after {
			content: "|";
			margin-left: 8px;
			vertical-align: top;
		}

	}

	a.to_review {
		display: inline-block;
		margin-left: 5px;
	}

}

.price.product-page-price {
	font-size: 25px;
	padding: 15px 0;
}

.extended_offer {
	font-size: 20px;
	margin: 0;

	.offer {
		padding: 10px;
		text-align: center;

		p {
			margin-bottom: 0;
		}

	}

}

.product-description{
	height: 500px;
	overflow: hidden;
	position: relative;
	&:after{
		content: "";
		position: absolute;
		z-index: 2;
		bottom: 0;
		width: 100%;
		height: 50px;
		background: rgba(255,255,255,0);
		background: -moz-linear-gradient(top,rgba(255,255,255,0) 0,#fff 100%);
		background: -webkit-gradient(left top,left bottom,color-stop(0,rgba(255,255,255,0)),color-stop(100%,#fff));
		background: -webkit-linear-gradient(top,rgba(255,255,255,0) 0,#fff 100%);
		background: -o-linear-gradient(top,rgba(255,255,255,0) 0,#fff 100%);
		background: -ms-linear-gradient(top,rgba(255,255,255,0) 0,#fff 100%);
		background: linear-gradient(to bottom,rgba(255,255,255,0) 0,#fff 100%);
	}
	&.show{
		height: auto;
		padding-bottom: 30px;
		.more a:after {
			content: "Rút gọn <<";
		}
	}
	.more {
		position: absolute;
		z-index: 3;
		bottom: 5px;
		width: 100%;
		text-align: center;
		a:after {
			content: "Xem thêm >>";
			padding: 5px 10px;
			background: $red1;
			color: #fff;
			border-radius: 3px;
		}
	}
}

.quantity-input-group{
	width: 100px;
}

#product{
	.cart{
		background-color: #fff;
		padding: 15px;
	}
}
.quickview.quickview-htl #product .cart {
    background-color: #fff;
}

.product-buynow-sidebar.stick {
	position: fixed;
	top: 0;
	z-index: 10;
	max-width: 280px;
}

.product-details {
	background: #fff;
    padding: 15px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #e5e5e5;
}
.product-buynow-sidebar-sticky .bg-light {
    background-color: #ffffff!important;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #e5e5e5;
}

/*============== media ==============*/
@media (min-width: 768px){
}