<?php foreach ($products as $product) { ?><!--
--><div class="item contrast_font product-layout">
    <div class="row_item"> 
        <div class="image">
            <?php if ($product['special'] && $tlptech_percentage_sale_badge == 'enabled') { ?>
            <div class="sale_badge">-<?php echo $product['sales_percantage']; ?>%</div>
            <?php } ?>
            <?php if ($product['thumb_hover'] && $tlptech_rollover_effect == 'enabled') { ?>
            <div class="image_hover"><a href="<?php echo $product['href']; ?>"><img src="<?php echo $product['thumb_hover']; ?>" alt="<?php echo $product['name']; ?>" /></a></div>
            <a href="<?php echo $product['href']; ?>"><img src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>" /></a>
            <?php } elseif ($product['thumb']) { ?>
            <a href="<?php echo $product['href']; ?>"><img src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>" /></a>
            <?php } ?>

            <?php if ($tlptech_text_ql) { ?>
            <div class="main_quicklook">
                <a href="<?php echo $product['quickview']; ?>" rel="nofollow" class="button quickview"><i class="fa fa-eye"></i> <?php echo $tlptech_text_ql; ?></a>
            </div>
            <?php } ?>
            <?php if ($product['new']!='') { ?>
            <div class="new"><?php echo $product['new']; ?></div>
            <?php } ?>
            <?php if ($product['hot']!='') { ?>
            <div class="hot"><?php echo $product['hot']; ?></div>
            <?php } ?>

        </div><!-- image ends -->
        <div class="information_wrapper">
            <div class="left">
                <div class="name"><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a></div>
                <?php if ($product['brand_name'] && $tlptech_brand) { ?>
                <span class="brand main_font"><?php echo $product['brand_name']; ?></span>
                <?php } ?>
                <?php if ($product['rating']) { ?>      
                <div class="rating"><span class="rating r<?php echo $product['rating']; ?> "><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                <?php } ?>

            </div>
            <div class="description main_font"><?php echo $product['description']; ?></div>
            <?php if ($product['price']) { ?>
            <div class="price">
                <?php if (!$product['special']) { ?>
                <?php echo $product['price']; ?>
                <?php } else { ?>
                <span class="price-old"><?php echo $product['price']; ?></span> <span class="price-new"><?php echo $product['special']; ?></span>
                <?php } ?>
                <?php if ($product['tax']) { ?>
                <br />
                <span class="price-tax"><?php echo $text_tax; ?> <?php echo $product['tax']; ?></span>
                <?php } ?>
            </div>
            <?php } ?>
            <div class="cart">       
                <button type="submit" class="button contrast" onclick="cart.add('<?php echo $product['product_id']; ?>', '<?php echo $product['minimum']; ?>');" ><i class="fa fa-shopping-cart"></i> <?php echo $button_cart; ?></button>
            </div>  
            <div class="group-btn">
                <button class="btn favorite-btn" onclick="wishlist.add('<?php echo $product['product_id']; ?>');" data-tooltip="<?php echo $button_wishlist; ?>"><i class="fa fa-heart" aria-hidden="true"></i></button>
                <button class="btn buy-btn">Mua ngay</button>
                <button class="btn add-to-cart" onclick="cart.add('<?php echo $product['product_id']; ?>', '<?php echo $product['minimum']; ?>');" data-tooltip="<?php echo $button_cart; ?>"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
            </div>
            <!--<div class="icons_wrapper">
                <a class="sq_icon" onclick="wishlist.add('<?php echo $product['product_id']; ?>');" data-tooltip="<?php echo $button_wishlist; ?>"><i class="fa fa-heart"></i></a>
                <a class="sq_icon compare" onclick="compare.add('<?php echo $product['product_id']; ?>');" data-tooltip="<?php echo $button_compare; ?>"><i class="fa fa-arrow-right"></i><i class="fa fa-arrow-left"></i></a>
                <?php if ($tlptech_text_ql) { ?>
    <a href="<?php echo $product['quickview']; ?>" rel="nofollow" class="sq_icon qlook quickview" data-tooltip="<?php echo $tlptech_text_ql; ?>"><i class="fa fa-eye"></i></a>
    <?php } ?>
                <a class="sq_icon contrast add_to_cart" onclick="cart.add('<?php echo $product['product_id']; ?>', '<?php echo $product['minimum']; ?>');" data-tooltip="<?php echo $button_cart; ?>"><i class="fa fa-shopping-cart"></i></a>
                <a class="plain_link wishlist" onclick="wishlist.add('<?php echo $product['product_id']; ?>');" ><?php echo $button_wishlist; ?></a>
                <a class="plain_link compare" onclick="compare.add('<?php echo $product['product_id']; ?>');" ><?php echo $button_compare; ?></a>
            </div>-->

            <?php if (($product['special']) && ($product['special_date_end'] > 0) && ($tlptech_product_countdown)) { ?>
            <div class="offer_popup">
                <div class="offer_background"></div>
                <div class="offer_content">
                    <div class="countdown <?php echo $product['product_id']; ?>"></div>
                    <?php if ($tlptech_product_hurry) { ?>
                    <span class="hurry main_font"><?php echo $product['stock_quantity']; ?></span>
                    <?php } ?>
                </div>
            </div>
            <script type="text/javascript">
                        $('.<?php echo $product['product_id']; ?>').countdown({
                until: < ?php echo $product['special_date_end']; ? > ,
                        layout: '<span class="main_font"><?php echo $text_category_expire; ?></span><br /><i>{dn}</i> {dl}&nbsp; <i>{hn}</i>  {hl}&nbsp; <i>{mn}</i>  {ml}&nbsp; <i>{sn}</i> {sl}'});
            </script>
            <?php } ?>
        </div>
    </div>
</div><!--
--><?php } ?>