<div class="wt_wrapper home-blocks">
    <div class="wt_fourcol_wall wrapper_content wt_rich_banner">
        <div class="home-title">
            <h2>Thông tin hấp dẫn</h2>
        </div>
        <div class="">
            <div class="box rich_banner grid_holder">
                <div class="banner_column3">
                    <?php if ($image1) { ?>
                    <div class="image zoom_image_container"><img class="zoom_image" alt="" src="<?php echo $image1; ?>" />
                        <?php echo $html1; ?>
                    </div>
                    <?php } else { ?>
                    <div class="html box1">
                        <?php echo $html1; ?>
                    </div>
                    <?php } ?>
                    <?php if ($image4) { ?>
                    <div class="image zoom_image_container"><img class="zoom_image" alt="" src="<?php echo $image4; ?>" />
                        <?php echo $html4; ?>
                    </div>
                    <?php } else { ?>
                    <div class="html box4">
                        <?php echo $html4; ?>
                    </div>
                    <?php } ?>
                </div>
                <div class="banner_column3">
                    <?php if ($image2) { ?>
                    <div class="image zoom_image_container"><img class="zoom_image" alt="" src="<?php echo $image2; ?>" />
                        <?php echo $html2; ?>
                    </div>
                    <?php } else { ?>
                    <div class="html box2">
                        <?php echo $html2; ?>
                    </div>
                    <?php } ?>
                </div>
                <div class="banner_column3">
                    <?php if ($image3) { ?>
                    <div class="image zoom_image_container"><img class="zoom_image" alt="" src="<?php echo $image3; ?>" />
                        <?php echo $html3; ?>
                    </div>
                    <?php } else { ?>
                    <div class="html box3">
                        <?php echo $html3; ?>
                    </div>
                    <?php } ?>
                    <?php if ($image5) { ?>
                    <div class="image zoom_image_container"><img class="zoom_image" alt="" src="<?php echo $image5; ?>" />
                        <?php echo $html5; ?>
                    </div>
                    <?php } else { ?>
                    <div class="html box5">
                        <?php echo $html5; ?>
                    </div>
                    <?php } ?>
                </div>
            </div>
        </div>


    </div>
</div>