
#cart{
	.cart-link{
		display: block;
		color: $color;
		position: relative;
		margin-right: 10px;
		.count{
			background-color: $light-color1;
			color: #fff;
			@include radius(50%);
			width: 15px;
			height: 15px;
			line-height: 15px;
			font-size: 9px;
			text-align: center;
			position: absolute;
			top: 0;
			left: 100%;		
		}

		.total{
			display: none;
		}

		.cart-text{
			display: none;
		}

	}

	.content{
		position: absolute;
		opacity: 0;
		visibility: hidden;
		right: 0;
		width: 350px;
		min-height: 100px;
		padding: 15px;
		margin-top: 30px;
		background-color: #fff;
		color: $color;
		z-index: 9;
		@include radius(15px);
		@include box-shadow(0 0 5px rgba(0, 0, 0 , 0.3  ));
		@include transition(margin-top .3s, opacity .2s, visibility .2s );
	}
}

/*=============media====================*/
@media(min-width: 992px){
	#cart{
		&:hover{
			.content{
				opacity: 1;
				visibility: visible;
				margin-top: 0;
				@include transition(margin-top .3s, opacity .2s,visibility .2s);
			}
		}
	}
}