.float-icon-hotline {
    display: block;
    width: 40px;
    position: fixed;
    bottom: 30%;
    right: 10px;
    z-index: 999;
    ul {
        display: block;
        width: 100%;
        padding-left: 0;
        margin-bottom: 0;
        li {
            display: block;
            width: 100%;
            position: relative;
            margin-bottom: 10px;
            cursor: pointer;
            .fa {
                background-color: #ed1c24;
                display: block;
                width: 40px;
                height: 40px;
                text-align: center;
                line-height: 36px;
                -moz-box-shadow: 0 0 5px #888;
                -webkit-box-shadow: 0 0 5px#888;
                box-shadow: 0 0 5px #888;
                color: #fff;
                font-weight: 700;
                border-radius: 50%;
                position: relative;
                z-index: 2;
                border: 2px solid #fff;
                background-size: contain !important;
            }
            span {
                display: inline-block;
                padding: 0;
                background-color: #ff6a00;
                color: #fff;
                border: 2px solid #fff;
                border-radius: 20px;
                height: 40px;
                line-height: 36px;
                position: absolute;
                top: 0;
                right: 15px;
                z-index: 0;
                width: 0;
                overflow: hidden;
                -webkit-transition: all 1s;
                transition: all 1s;
                background-color: #ff6a00;
                -moz-box-shadow: 0 0 5px #888;
                -webkit-box-shadow: 0 0 5px#888;
                box-shadow: 0 0 5px #888;
                font-weight: 400;
                white-space: nowrap;
                opacity: 0;
            }
            .fa-zalo {
                background: #ef0303 url(/image/zalo1.png) center center no-repeat;
            }
            .fa-messenger {
                background: #168efb url(/image/fb.png) center center no-repeat;
            }
            a#messengerButton {
                padding: 0!important;
                background: transparent!important;
                border: 0!important;
            }
            &:hover span {
                width: 215px;
                padding-left: 10px;
                padding-right: 30px;
                opacity: 1;
            }
        }
    }
}



.fixed-social-network {
    position: fixed;
    top: 25%;
    right: -125px;
    z-index: 999;
    display: none;
    & > a {
        border-radius: 3px;
        height: 40px;
        line-height: 40px;
        padding: 0px 20px 0px 15px;
        display: block;
        width: 170px;
        transform: translateX(0px);
        margin-bottom: 5px;
        @include transition( all 0.6s ease);
        img{
            margin-right: 20px;
            width: 20px;
        }
        &:hover {
            transform: translateX(-120px);
        }

    }

    a.fb-icon {
        background: #3B5998;
        color: #fff;
    }

    a.ins-icon {
        background: #C32AA3;
        color: #fff;
    }

    a.yt-icon {
        background: #FF0000;
        color: #fff;
    }

    a.tw-icon {
        background: #00B6F1;
        color: #fff;
    }

    a.gg-icon {
        background: #DF4A32;
        color: #fff;
    }

    a.linkedin-icon {
        background: #0077b5;
        color: #fff;
    }

}

.fix-phone-num {
    background-color: red;
    position: fixed;
    color: #fff;
    z-index: 99;
    left: 10px;
    bottom: 45px;
    padding: 5px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -o-border-radius: 50px;
    box-shadow: 0 0 3px #aaa;

    p {
        font-size: 18px;
        margin: 0;

        span {
            float: right;
            height: 25px;
            line-height: 25px;
            margin-left: 10px;
        }

    }

    .Phone {
        position: relative;
        display: block;
        float: left;
        margin: 0;
        width: 1em;
        height: 1em;
        font-size: 25px;
        background-color: red;
        border-radius: .5em;
        box-shadow: 0 0 0 0 rgba(52, 152, 219, 0), 0 0.05em 0.1em rgba(0, 0, 0, .2);
        transform: translate3d(0, 0, 0) scale(1);

        &:before, &:after {
            position: absolute;
            content: "";
        }

        &:before {
            top: -1em;
            left: -1em;
            width: 3em;
            height: 3em;
            background-color: rgba(255, 0, 0, .5);
            border-radius: 100%;
            opacity: 1;
            transform: translate3d(0, 0, 0) scale(0);
        }

        &:after {
            top: .25em;
            left: .25em;
            width: .5em;
            height: .5em;
            background: url(../image/phone-ring.png);
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: cover;
            transform: translate3d(0, 0, 0);
        }

        &.is-animating {
            animation: phone-outer 3s infinite;

            &:before {
                animation: phone-inner 3s infinite
            }

            &:after {
                animation: phone-icon 3s infinite
            }

        }

    }

}

@keyframes phone-outer {
    0% {
        transform: translate3d(0, 0, 0) scale(1);
        box-shadow: 0 0 0 0 rgba(52, 152, 219, 0), 0 .05em .1em rgba(0, 0, 0, .2)
    }

    33.3333% {
        transform: translate3d(0, 0, 0) scale(1.1);
        box-shadow: 0 0 0 0 rgba(52, 152, 219, .1), 0 .05em .1em rgba(0, 0, 0, .5)
    }

    66.6666% {
        transform: translate3d(0, 0, 0) scale(1);
        box-shadow: 0 0 0 .5em rgba(52, 152, 219, 0), 0 .05em .1em rgba(0, 0, 0, .2)
    }

    100% {
        transform: translate3d(0, 0, 0) scale(1);
        box-shadow: 0 0 0 0 rgba(52, 152, 219, 0), 0 .05em .1em rgba(0, 0, 0, .2)
    }

}

@keyframes phone-inner {
    0% {
        opacity: 1;
        transform: translate3d(0, 0, 0) scale(0)
    }

    33.3333% {
        opacity: 1;
        transform: translate3d(0, 0, 0) scale(.9)
    }

    66.6666% {
        opacity: 0;
        transform: translate3d(0, 0, 0) scale(0)
    }

    100% {
        opacity: 0;
        transform: translate3d(0, 0, 0) scale(0)
    }

}

@keyframes phone-icon {
    0% {
        transform: translate3d(0, 0, 0)
    }

    10% {
        transform: translate3d(.1em, 0, 0)
    }

    20% {
        transform: translate3d(-.1em, 0, 0)
    }

    30% {
        transform: translate3d(.01em, 0, 0)
    }

    40% {
        transform: translate3d(-.1em, 0, 0)
    }

    50% {
        transform: translate3d(0, 0, 0)
    }

}

.top-footer {
    background-color: $border-color;
    color: $color;
    padding: 15px;

    .icon, .cskh {
        img {
            max-width: 150px;
        }

    }

}

#footer {
    line-height: 25px;
    background-color: #3b5898;
    color: #fff;

    .heading-title {
        font-family: SFUFuturaBold;
        margin-bottom: 20px;
    }

    a {
        color: #fff;

        &:hover {
            color: $light-color2;
        }

    }

    .bdl {
        border-left: 1px solid #444;
    }

    ul {
        li {
            padding: 5px 0;
        }

    }

}

#powered {
    border-top: 1px solid #444;
    width: 100%;
    padding: 15px 0;
    text-align: center;

    a {
        color: #fff;

        &:hover {
            text-decoration: underline;
        }

    }

    .menu-foot {
        li {
            margin-left: 15px;
        }

    }

}


.back-to-top {
   cursor: pointer;
   display: none;
 /*position: fixed;
 bottom: 23%;
 right: 10px;
 z-index: 90;
 box-shadow: 0 0 2px #999;
 border-radius: 50%;
 border: 2px solid #fff;*/
}



.wt_footer_support {
    z-index: 100000; 
    position: fixed;
    width: 100%;
    bottom: 0;

    .ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            padding: 5px 10px;
            float: left;
            width: 33.3333333333%;
            text-align: center;

            &:first-child {
                animation-name: example;
                animation-duration: 1s;
                animation-iteration-count: infinite;
            }

            a {
                color: #fff;

                i {
                    font-size: 20px;
                    margin-right: 5px;
                }

            }

        }

        .ft-btn span i{
            animation: phone-inner 2s infinite;
        }

        .ft-btn1{
            background-color: #dc0000;
        }

        .ft-btn2{
            background-color: #ffb100;
        }

        .ft-btn3{
            background-color: #008e04;
        }

    }

}

