@media (min-width: 1200px){
	$grid-columns: 6;
	@for $i from 1 through $grid-columns {
		.grid#{$i} {
			.item-grid{
				-webkit-box-flex: 0;
				-ms-flex: 0 0 percentage(1/ $i);
				flex: 0 0 percentage(1/ $i);
				max-width: percentage(1/ $i);
			}
		}
	}
}
@media (min-width: 992px){
	.item-grid{
		-webkit-box-flex: 0;
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}
}
@media (min-width: 768px){
	.item-grid{
		-webkit-box-flex: 0;
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}
}
@media (max-width: 576px){
	.item-grid{
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
		padding: 0 5px;
	}
}

