.top-header {
	padding: 3px 0;
	color: $color;
	background-color: #eee;
	font-size: 12px;
	ul li i{
		color: $dark-grey;
	}
}
.header{
	background-color: $light-color1;
	position: relative;
}
.fix-header{
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 9999; // cao hơn hover zoom image ở trang chi tiết sản phẩm
}
.header-main{
	position: relative;
	color: $color;
	background-color: #fff;
	.container{
		position: relative;
	}
	.col-menu{
		position: static;
	}
}


.wt-logo{
	margin: 5px 0;
	img{
		max-width: 110px;
	}
}

.logo{
	h1{
		margin: 0;
		line-height: 0;
		font-size: inherit;
	}
}

.top-service-list{
	.info{
		position: relative;
		padding: 0 45px;
		color: $red1;
	}
	p{
		margin-bottom: 0;
		font-size: 19px;
		color: $light-grey;
		b{
			font-size: 17px;
			color: $color;
		}
	}
	span{
		position: absolute;
		left: 0;
		width: 40px;
		height: 40px;
		line-height: 40px;
		font-size: 25px;
		top: 15%;
		border: 1px solid $light-color1;
		text-align: center;
		border-radius: 50px;
	}
}


/*============== media ================*/
@media(min-width: 992px){
	.wt-logo{
		margin: 5px 0;
		img{
			max-width: 220px;
		}
	}

	.top-header{
		padding: 10px 0;
		font-size: 14px;
		.language{
			ul li{
				display: inline-block;
				margin-right: 5px;
			}
		}
	}
}