$tag-new-color: #fff;
$tag-new-bg-color: $light-color2;
$tag-hot-color: #fff;
$tag-hot-bg-color: #d31129;
.item-grid{
	.product-thumb{
		position: relative;
		overflow: hidden;
		margin-bottom: 15px;
		border: 1px solid #dbdbdb;
		border-radius: 4px;
		text-align: left;
		box-shadow: 0 2px 4px 0 hsla(0,0%,87%,.5);
		background-color: #fff;
		&:hover{
			.image img{
				transform: scale(1.1,1.1);
			}
		}
		.image{
			overflow: hidden;
			img{
				@include transition (all 300ms ease-in-out);
			}
		}
		.actions-link{
			display: none;
			text-align: center;
			width: 80%;
			margin: 0 auto;
			background: #fff;
			padding: 5px;
			border-radius: 10px;
			border: 1px solid rgba(0, 0, 0, 0.1);
			@include transition (all 300ms ease-in-out);
			.button{
				background-color: #fff;
				border-radius: 0;
				text-align: center;
				color: #999;
				margin: 0;
				border: none;
				&:last-child{
					border-bottom: none;
				}
			}
		}
		.caption{
			.name{
				font-size: 16px;
				color: $color;
				text-transform: inherit;
				&:hover{
					color: $light-color2;
				}
			}
		}
		.btn{
			font-size: 12px;
		}
	}
	.thumb-image{
		position: relative;
		.image-hover{
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			opacity: 0;
			width: 100%;
		}
	}
}

.item-grid .product-thumb .caption {
    padding: 10px 0 0px;
}

.tag-new, .tag-hot, .sale{
	color: $tag-new-color;
	background: $tag-new-bg-color;
	text-align: center;
	line-height: 26px;
	padding: 0 14px;
	position: absolute;
	min-width: 56px;
	top: 15px;
	left: 15px;
	text-transform: uppercase;
	font-size: 12px;
	z-index: 3;
	@include radius(15px);
}
.tag-hot, .sale{
	color: $tag-hot-color;
	background: $tag-hot-bg-color;
	left: auto;
	right: 15px;
}
.sale{
	z-index: 5;
}

/*============== media ================*/
@media(min-width: 992px){
	.item-grid{
		.product-thumb{
			.actions-link{
				display: block;
				width: auto;
				position: absolute;
				opacity: 0;
				visibility: hidden;
				right: 10px;
				bottom: 10px;
				z-index: 3;
				.button{
					width: 25px;
					display: block;
					border-bottom: 1px solid rgba(0,0,0,0.1);
					padding: 5px 0;
				}
			}
			.caption{
				padding: 15px 10px 25px;
				.thumb-bottom{
				}
				.name{
					min-height: 50px;
					text-transform: uppercase;
				}
			}
			&:hover{
				.actions-link{
					opacity: 1;
					visibility: visible;
					right: 15px;
				}
			}
		}
	}
}