.wapper-menu{
	border-radius: 5px 5px 0 0;
	background-color: $light-color2;
}
#menu{
	position: relative;
	ul{
		list-style: none;
		padding: 0;
		margin: 0;
	}
	&>ul{
		&>li{
			position: relative;
			margin-right: 0;
			&>a{
				font-size: 14px;
				display: inline-block;
				padding: 15px 20px;
				background-color: transparent;
				text-transform: uppercase;
				color: #fff;
				font-family: SFUFuturaBold;
				font-weight: 700;
				@include transition(all ease 0.5s);
					i{
						display: none;
						margin-left: 10px;
						opacity: 0.3;
					}
			}
			.menu-drop-down{
				position: absolute;
				left: 0;
				top: 100%;
				width: 220px;
				opacity: 0;
				visibility: hidden;
				margin-top: 20px;
				z-index: 999;
				padding: 5px 15px;
				background-color: #fff;
				overflow: hidden;
				@include box-shadow(0 0 5px rgba(0, 0, 0, 0.1));
				@include transition(margin-top .3s, opacity .2s, visibility .2s );
				ul>li{
					border-bottom: 1px dashed $border-color;
					&:last-child{
						border: none;
					}
					&>a{
						padding: 10px 0;
						display: block;
					}
				}
			}

			&:hover{
				&>a{
					color: #222;
					i{
						opacity: 1;
					}
				}
				.menu-drop-down{
					opacity: 1;
					visibility: visible;
					margin-top: 0;
					@include transition(margin-top .3s, opacity .2s, visibility .2s );
				}
			}

		}
		&>li.full-width-dropdown-menu{
			position: static;
			.menu-drop-down{
				left: 0;
				right: 0;
				top: 100%;
				width: 100%;
				ul li{
					border: none;
					a{
						padding: 5px 0;
					}
				}
			}
		}
		&>li.withsubs{
			&>a{
				i{
					display: inline-block;
				}
			}
		}
	}
}

#menu>ul>li.active {
    color: #fff;
    background-color: #de4a32;
    border-radius: 5px 0px 0 0;
}
#menu>ul>li:hover>a {
    color: #fff;
    background-color: #de4a32;
}