
.mobile_menu_trigger{
	display: inline-block;
	vertical-align: middle;
	margin-top: 5px;
}


.nav-icon{
	margin: 0 auto;
	width: 25px;
	cursor: pointer;

	div{
		margin: 6px 0;
	}

	div,
	&:after,
	&:before{
		content: "";
		background: $color;
		@include radius(1px);
		height: 4px;
		display: block;
		@include transition(all 0.2s ease-in-out);
	}

	&.active:before{
		@include transform(translateY(12px) rotate(135deg));
	}

	&.active:after{
		@include transform(translateY(-8px) rotate(-135deg));
	}

	&.active div{
		@include transform-scale(0);
	}
}


.mobile_menu_wrapper{
	position: absolute;
	z-index: 9999;
	overflow: hidden;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100vh;
	opacity: 0;
	visibility: hidden;
	background-color: rgba(0,0,0,0.5);
	@include transition(all linear .2s);
	&.active{
		opacity: 1;
		visibility: visible;
		.mobile_menu{
			margin-left: 0;
		}
	}
	.mobile_menu{
		margin-left: -100%;
		width: 80%;
		background-color: #f7f7f7;
		color: $color;
		padding: 5px 5px 40px;
		height: 100%;
		overflow: auto;
		@include transition(all linear .5s);
		.login, .language, .currency{
			border-bottom: 1px solid $border-color; 
			padding: 10px 0;
			&:last-child{
				border-bottom: none;
			}
			li{
				display: inline-block;
				margin-right: 10px;
			}
		}
		.title-m-menu{
			background-color: $light-color2;
			font-weight: bold;
			color: #fff;
			text-transform: uppercase;
			padding: 10px 15px;
		}
		ul.m_menu{
			li{
				display: block;
				padding: 0;
				margin: 0;
				position: relative;
				&>a{
					border-bottom: 1px solid $border-color;
				}
				.p-link-d{
					border-bottom: 1px solid $border-color;
					a{
						border-right: 1px solid $border-color;
					}
				}
				a{
					display: block;
					padding: 15px 20px;
					text-transform: uppercase;
					color: $color;
				}
				.plus {
					width: 50px;
					font-size: 14px;
					text-align: center;
					cursor: pointer;
					.fa-plus{
						display: block;
					}
					.fa-minus{
						display: none;
					}
				}
				&.open{
					&>a{
						font-weight: bold;
					}
					.p-link-d{
						&>a{
							font-weight: bold;
						}
						&>.plus{
							.fa-plus{
								display: none;
							}
							.fa-minus{
								display: block;
							}
						}
					}
				}
				ul{
					display: none;
					li>a{
						border-bottom: 1px solid $border-color;
					}
				}
			}
		}
	}
}