.group-search{
	.icon-search{
		cursor: pointer;
	}
	position: relative;
	.content-search{
		display: none;
		position: absolute;
		z-index: 100;
		right: 0;
		padding: 15px;
		width: 300px;
		background-color: #fff;
		@include box-shadow(0 0 5px rgba( 0, 0, 0, 0.3));
		@include radius(15px);
	}
}

#search {
	display: inline-block;
	line-height: normal;
	vertical-align: middle;
	position: relative;
	overflow: hidden;
	transition: width 300ms ease-in-out;
	width: 100%;
	margin-bottom: 5px;
	input {
		width: 100%;
		font-size: 13px;
		color: #000;
		background-color: rgba(255,255,255,0.7);
		-moz-appearance: none;
		border-color: $light-color2;
		&:focus{
			box-shadow: 0 0 0 0.2rem rgba(255, 0, 153, 0.25);
		}
	}
	&.active input{
		background-color: #fff;
	}
	&:hover,&.active {
		overflow: visible;
		transition: all 400ms ease-in-out;
		width: 100%
	}
	.button-search {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 0;
		width: 35px;
		text-align: right;
		border-radius: 0 5px 5px 0 !important;
		background: $light-color2;
		color: #fff;
		text-align: center;
		line-height: 38px;
	}
}

.search-holder {
	display: inline-block;
	position: relative;
	height: 19px
}

#ajax_search_results {
	width: 100% !important;
	min-width: 250px;
	margin: 0px;
	text-align: left !important;
	position: absolute;
	left: auto;
	right: 1px;
	list-style-type: none;
	z-index: 1005;
	font-size: 15px;
	background-color: #fff;
	color: $color;
	border: 1px solid #e5e5e5;
	display: table;
	a {
		display: block
	}
	.link {
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 237px;
		height: 100%;
		display: inline-block;
		position: absolute
	}
	.s_row {
		position: relative;
		display: block;
		z-index: 13005;
		width: 100%;
		padding: 8px 10px 8px 0;
		&:hover {
			background: #f9f9fa
		}
	}
	.selected {
		color: #AF2645;
		background-color: #ebebeb
	}
	.s_cell {
		display: table-cell;
		vertical-align: middle;
		padding: 0 6px
	}
	.live_image {
		min-width: 55px;
		text-align: center;
		img {
			display: inline-block;
			min-width: 40px
		}

	}
	.live_name {
		width: 100%;
		padding: 0 5px
	}
	.live_price {
		text-align: right;
		p {
			white-space: nowrap;
			min-width: 40px;
			margin: 0
		}
	}
	.special {
		margin-top: 0px;
		margin-bottom: 0px;
		white-space: nowrap;
		min-width: 40px
	}
	.old-price {
		color: #8c8c8c;
		font-size: 11px;
		text-decoration: line-through;
		white-space: nowrap;
		min-width: 40px
	}
}