.map-google{
	iframe{
		width: 100%;
	}
}
.radio-image{
	label{
		input{
			display: none;
		}
	}
	input[type="radio"]:checked+img{
		border-color: $red1;
		box-shadow: 0 0 5px red;
	}
}


.zoom-image-container{
	position: relative;
	overflow: hidden;
	width: 100%;
	img.zoom-image{
		width: 100%;
		@include transition(all 0.3s);
	}
	&:hover img.zoom-image{
		@include transform-scale(1.1);
	}
}


$module-title-color: $color;
$module-sub-title-color: $grey;
$module-title-decoration-color: $light-color2;
.module-title{
	display: block;
	margin-bottom: 30px;
	.title{
		color: $module-title-color;
		text-transform: uppercase;
		margin: 0;
		padding: 15px 0;
		position: relative;
		margin-bottom: 15px;
		&:after{
			content: "";
			width: 6%;
			height: 3px;
			background: $module-title-decoration-color;
			position: absolute;
			z-index: 2;
			left: 47%;
			top: 100%;
		}
	}
	.sub-title{
		color: $module-sub-title-color;
	}
}
.module-description{
	margin-bottom: 15px;
}

$price-color: $red1;
$price-old-color: $light-grey;
$price-save-color: $light-color2;
.price{
	color: $price-color;
}
.price-new{
	color: $price-color;
}
.price-old{
	color: $price-old-color;
	text-decoration: line-through;
}
.price-save{
	color: $price-save-color;
}

.heading-title{

}

.box-heading{
	font-weight: bold;
	font-size: 17px;
	margin-bottom: 10px;
}


.share {
	padding: 0;
	list-style: none;
	margin-bottom: 20px;
	li {
		display: inline-block;
		a {
			display: block;
			padding-right: 10px;
		}
		i {
			width: 40px;
			height: 40px;
			background-color: #fff;
			padding: 10px;
			font-size: 20px;
			text-align: center;
			@include radius(50%);
			color: #999;
			border: 1px solid #ddd;
			//text-shadow: 2px 2px 0 rgba(0,0,0,.3);
		}
		/*i.fa-facebook{
			background-color: #3b5997;
		}
		i.fa-twitter{
			background-color: #29c5f6;
		}
		i.fa-youtube{
			background-color: #de332c;
		}
		i.fa-linkedin{
			background-color: #006dc0;
			}*/
		}

	}

	.rating{
		display: none;
		text-align: center;
		color: $light-color1;
		span{
			width: 15px;
			height: 15px;
			i{
				font-size: 14px;
			}
		}
	}

	/*============== category - page ======================*/

	.blog-category-col, .information-category-col, .account-category-col{
		border: 1px solid $light-color2;
		.box-title{
			background-color: $light-color2;
			color: #fff;
			text-align: center;
			text-transform: uppercase;
			padding: 10px 15px;
			font-size: 16px;
		}
		.box-content{
			background-color: #fff;
			padding: 15px;
			&>ul{
				&>li{
					&>a{
						text-transform: uppercase;
						margin-left: 0 !important;
						span{
							display: none;
						}
					}
				}
				li{
					position: relative;
					margin-bottom: 5px;
					&:last-child{
						border-bottom: none;
					}
					ul{
						display: none;
					}
					a{
						display: block;
						padding: 7px 0;
						margin-left: 15px;
						font-size: 14px;
						border-bottom: 1px dashed #eee;
						color: #000;
						&:hover{
							color: $light-color1;
						}
						/*&:before{
							content: "\f04b";
							display: inline-block;
							font: normal normal normal 14px/1 FontAwesome;
							font-size: inherit;
							margin-right: 5px;
							}*/
						}
						.sign{
							position: absolute;
							right: 0;
							top: 0;
							padding: 5px 10px;
							cursor: pointer;
							.minus{
								display: none;
							}
						}
						&.open, &.active{
							& > a{
								color: $light-color2;
								margin-bottom: 0;
							}
							&>.sign{
								color: $light-color2;
							}
							ul{
								li.open, li.active{
									&>a{
										color: $light-color1;
									}
									ul li a{
										padding-left: 30px;
										position: relative;
										i{
											position: absolute;
											left: 20px;
											top: 8px;
										}
									}
								}
							}
						}
						&.open{
							.minus{
								display: block;
							}
							.plus{
								display: none;
							}
						}
						&.active{
							&>a{
								font-weight: bold;
							}
							&>ul{
								display: block;
							}
						}

					}
				}
			}
		}

		.product-category{
			border: 1px solid #e5e5e5;
			border-bottom: 0;
			.box-content{
				background-color: #fafafa;
				&>ul{
					&>li{
						&>a{
							text-transform: uppercase;
							span{
								display: none;
							}
						}
						&>.sign{
							color: #fff !important;
						}
					}
					li{
						position: relative;
						ul{
							display: none;
							li a{
								padding-left: 30px;
							}
						}
						a{
							display: block;
							padding: 10px;
							font-size: 14px;
							color: #000;
							border-bottom: 1px solid #e5e5e5;
							&:hover{
								color: $light-color1;
							}
						}
						.sign{
							position: absolute;
							right: 0;
							top: 0;
							padding: 5px 10px;
							cursor: pointer;
							.minus{
								display: none;
							}
						}
						&.active{
							& > a{
								color: #fff;
								background-color: $light-color2;
								margin-bottom: 0;
							}
							&>.sign{
								color: #fff;
							}
							ul{
								li.active{
									&>a{
										color: $color;
										background-color: inherit;
									}
									ul li a{
										padding-left: 30px;
										position: relative;
										i{
											position: absolute;
											left: 20px;
											top: 8px;
										}
									}
								}
							}
						}
						&.open{
							&>.sign .minus{
								display: block;
							}
							&>.sign .plus{
								display: none;
							}
						}
						&.active{
							&>a{
								font-weight: bold;
							}
							&>ul{
								display: block;
								background: #fff;
							}
						}

					}
				}
			}
		}

		.filter_holder.box_category {
			background: #fff;
		    padding: 0px 15px;
		    border: 1px solid #e5e5e5;
		}

		.product-filter{
			padding: 5px;
			border: 1px solid $border-color;
			line-height: 28px;
			margin-bottom: 20px;
			width: 100%;
			display: table;
			font-size: 13px;
			color: $grey;
			@include radius(5px);
			.display {
				margin-right: 5px;
				display: none;
			}
			.limit,.sort {
				margin: 0;
				float: right;
				white-space: nowrap;
				select{
					margin: 0 5px;
				}
			}

			.compare-link{
				display: none;
			}
		}



		/*==============end category - page ======================*/

		/*==============tạo background trắng & border cho tất cả các trang   ======================*/
		.information-tt , .sitemap-bacg , .blog-categ-ds , .div-information , .wt_layout_dk , .blog-detail {
			background: #fff;
		    padding: 15px;
		    -moz-border-radius: 2px;
		    -webkit-border-radius: 2px;
		    border-radius: 2px;
		    border: 1px solid #e5e5e5;
		    margin-bottom: 15px;
		    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
		}
		.checkout-carts {
			background: #fff;
			box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
		}
		/*==============end tạo background trắng & border cho tất cả các trang  ======================*/

		@media (max-width: 576px){
			.product-filter{
				.limit,.sort {
					width: 50%;
				}
			}

			.module-title2 .title{
				font-size: 20px;
			}

			.module-title .title{
				font-size: 20px;
			}
		}

		@media (min-width: 992px){
			.module-description{
				width: 80%;
				margin: 0 auto;
				font-size: 16px;
			}
		}


