body{
	color: $color;
	overflow-x: hidden;
	font-size: 14px; 
	position: relative;
	font-family: 'SFUFuturaBook';
	background-color: #f8f9fa;
}
#content{
	min-height: 600px;
	margin-bottom: 15px;
}
img{
	width: 100%;
	height: auto;
}

a{
	color: $dark-grey;
	&:hover{
		color: $light-color1;
	}
}

.table{
	th,td{
		padding: 7px;
	}
	img{
		width: auto;
	}
}



/*============= bootstrap - override ====================*/
a{
	&:hover{
		text-decoration: none;
	}
}

.breadcrumb{
	background-color: transparent;
	padding: 10px 0;
	margin-bottom: 0;
	.breadcrumb-item{
		a{
			color: $grey;
			&:hover{
				color: $light-color1;
			}
		}
		&+.breadcrumb-item::before{
			content: "\f105";
			font: normal normal normal 14px/1 FontAwesome;
		}
	}
}

.input-group-text{
	border-color: $grey;
	background-color: $grey;
	color: #fff;
}

.nav-tabs .nav-link{
	font-size: 16px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
	color: #ffffff;
	background-color: $light-color2;
	border-color: $light-color2;
}

.modal-content {
	border: 1px solid $light-color2;
	.modal-header {
		background-color: $light-color2;
		color: #fff;
	}
}

.img-modal{
	.modal-content{
		border: none;
		position: relative;
		border-radius: 0;
		&>.close{
			position: absolute;
			top: 0;
			right: 10px;
			z-index: 5;

		}
		.modal-body{
			padding: 0;
			border-radius: 0;
		}
	}
}

.alert-top-header{
	padding: 5px;
	background-color: #c51230;
	color: #fff;
	margin: 0;
	border-radius: 0;
	a{
		color: #fff;
		&:hover{
			text-decoration: underline;
		}
	}
	&.alert-dismissible .close{
		padding: 0 5px;
	}
}

@media (min-width: 1300px){
	.container {
		max-width: 1300px;
	}
}
@media (min-width: 1200px){
	.container {
		max-width: 1200px;
	}
}
/*============= end bootstrap - override ====================*/

/*====================table - responsive - custom================*/

@media
only screen 
and (max-width: 760px), (min-device-width: 768px) 
and (max-device-width: 1024px)  {
	.table-responsive{
		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr {
			display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

		tr {
			margin: 0 0 1rem 0;
		}

		tr:nth-child(odd) {
			background: #ccc;
		}

		td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
			text-align: right;
			padding-left: 30% !important;
		}

		td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 0;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
			text-align: left;
			font-weight: bold;
		}

		/*
		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
    */
    td:before { content: attr(title)":"; }
}
}

/*====================end - table - responsive - custom================*/
