<div class="footer_modules">
<div class="">
<div>
<div class="footer_modules_wrapper <?php echo $tlptech_footer_columns; ?>">
<?php foreach ($modules as $module) { ?>
<?php echo $module; ?>
<?php } ?>
</div>
</div>
</div>
</div>
